.slideshow {
  position: relative;
}

.slideshow img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any default inline spacing */
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* Positioned above the slideshow images */
  /* Add more styling for your overlay content here */
  align-items: center;
}

/*top menu*/
.info-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin-top: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: rgba(109, 109, 109, 0.7);
  background-color: #009DDC;
}

/* Styles for the logo, navigation bar, heading, and buttons */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-bar {
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: #fff; /* White text color */
  text-transform: uppercase; /* Make all menu items uppercase */
  font-weight: 600; /* Make the font a bit bolder */
  display: flex; /* Use flexbox to align items */
  justify-content: space-around; /* Even space distribution */
  align-items: center; /* Vertically align items in the middle */
  padding: 0 0; /* Add some padding above and below the nav items */
}

/* Style the individual navigation links */
.nav-bar a {
  color: inherit; /* Inherit the white color from the nav-bar */
  text-decoration: none; /* Remove underline from links */
  padding: 30px 10px;
  transition: background-color 0.3s; /* Transition for the hover effect */
}

/* Add a hover effect on navigation links */
.nav-bar a:hover {
  background-color: #009DDC; /* Change background to white */
}

/* Add a container to wrap around the nav for layout purposes */
.nav-container {
  position: relative;
  margin-top: 10px;
  z-index: 2; /* Ensure it's above other content */
}

.text-and-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
}
.text-and-buttons h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3em;
  color: white;
  text-align: center;
  margin: 0 0 30px;
  padding: 0;
  width: 72%;
}
.text-and-buttons .btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.text-and-buttons .btn button {
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 11px 10px 10px;
  text-wrap: none;
  width: 150px;
  border: 2px solid white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.text-and-buttons .btn button:hover {
  background-color: white;
  color: #009DDC;
}

.wave-white {
  position: relative; /* or absolute */
  z-index: 3;
  margin-top: -90px;
  overflow: hidden;
}
.wave-white img {
  width: 100%;
  height: 150px;
}

@media screen and (min-width: 1620px) {
  header .vulcan-logo {
    width: 213px;
    height: 123.64px;
    background-size: 300px 123.64px;
  }
  .text-and-buttons h1 {
    font-size: 80px;
    text-align: center;
    margin: -70px 0 100px;
    line-height: 96px;
  }
  .text-and-buttons .btn {
    margin-top: -20px;
  }
  .text-and-buttons .btn button {
    width: 198px;
  }
}
@media screen and (min-width: 90em) {
  .nav-container {
    width: 850px;
    height: 76px;
  }
  .vulcan-logo {
    width: 213px;
    height: 88px;
    background-size: auto;
  }
}
@media screen and (min-width: 64em) {
  .nav-bar {
    width: 850px;
    height: 76px;
  }
}
@media screen and (min-width: 48em) {
  header .vulcan-logo {
    width: 213px;
    height: 123.64px;
    background-size: 213px 123.64px;
  }
}
@media screen and (max-width: 64em) {
  .nav-bar {
    width: 720px;
    height: 40px;
  }
  .nav-bar a {
    padding: 10px 10px;
  }
  .text-and-buttons h1 {
    font-size: 2em;
    text-align: center;
    margin: 0 0 20px;
    padding: 0;
    width: 80%;
  }
}
@media screen and (max-width: 48em) {
  .btn {
    width: 200px;
  }
  .wave-white img {
    width: 140%;
    height: 100px;
  }
}
.square1 {
  font-family: helvetica, arial, sans-serif;
}

.square1 img {
  display: none;
}

.slides_container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.image_wrapper,
.wrap_placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: none;
  background-size: 0;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 1s ease-in-out;
}

.image_wrapper.no_transition,
.wrap_placeholder.no_transition {
  transition: none !important;
}

.image_wrapper > a {
  display: block;
  width: 100%;
  height: 100%;
}

.square1_next_image,
.square1_prev_image {
  display: none;
  position: absolute;
  top: 50%;
  left: 20px;
  width: 50px;
  height: 50px;
  background: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='15.1px' height='20.3px' viewBox='0 0 15.1 20.3' enable-background='new 0 0 15.1 20.3' xml:space='preserve'%3E%3Cfilter height='200%25' id='blur' width='200%25' x='-30%25' y='-30%25'%3E%3CfeGaussianBlur in='offOut' result='blurOut' stdDeviation='2'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3Crect x='0.1' y='-0.1' fill='none' width='14.7' height='19.9'/%3E%3Cg%3E%3Cpath filter='url(%23blur)' fill='%23fff' d='M3.2,9.9c0-0.3,0.1-0.5,0.3-0.8L9,3.7c0.2-0.2,0.4-0.3,0.7-0.3s0.5,0.1,0.8,0.3l0.6,0.6c0.2,0.2,0.3,0.5,0.3,0.8 s-0.1,0.5-0.3,0.7L7,9.9l4.1,4.1c0.2,0.2,0.3,0.4,0.3,0.7s-0.1,0.5-0.3,0.7L10.5,16c-0.2,0.2-0.5,0.3-0.8,0.3S9.2,16.2,8.9,16 l-5.4-5.3C3.3,10.4,3.2,10.2,3.2,9.9L3.2,9.9z'/%3E%3Cpath fill='%23000' d='M3.2,9.9c0-0.3,0.1-0.5,0.3-0.8L9,3.7c0.2-0.2,0.4-0.3,0.7-0.3s0.5,0.1,0.8,0.3l0.6,0.6c0.2,0.2,0.3,0.5,0.3,0.8 s-0.1,0.5-0.3,0.7L7,9.9l4.1,4.1c0.2,0.2,0.3,0.4,0.3,0.7s-0.1,0.5-0.3,0.7L10.5,16c-0.2,0.2-0.5,0.3-0.8,0.3S9.2,16.2,8.9,16 l-5.4-5.3C3.3,10.4,3.2,10.2,3.2,9.9L3.2,9.9z'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
  background-size: 40%;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transform: translate(0, -50%);
  z-index: 1000;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.square1_next_image:hover,
.square1_prev_image:hover {
  opacity: 1;
}

.square1_next_image {
  transform: translate(0, -50%) rotate(180deg);
  left: auto;
  right: 20px;
  display: none;
}

.square1_dots {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  overflow: hidden;
}

.square1_dots span {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 7px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.square1_dots span:before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 0 14px 0 rgba(255, 255, 255, 0.4);
}

.square1_dots span.current:before {
  background: #009DDC;
}

.square1_dots span:hover:before {
  background: #009DDC;
  box-shadow: 0 0 2px #337AB7;
}

.square1_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  animation: square1_spinner 1s linear infinite;
  z-index: -1;
  display: none;
}

.square1.loading .square1_spinner {
  display: block;
}

@keyframes square1_spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.fill_mode-contain .image_wrapper,
.fill_mode-contain .wrap_placeholder {
  background-size: contain;
}

.fill_mode-cover .image_wrapper,
.fill_mode-cover .wrap_placeholder {
  background-size: cover;
}

.prev_next_nav-outside .square1_prev_image {
  left: -60px;
}

.prev_next_nav-outside .square1_next_image {
  right: -60px;
}

.prev_next_nav-hover .square1_prev_image {
  left: -60px;
  opacity: 0;
}

.prev_next_nav-hover:hover .square1_prev_image {
  left: 20px;
  opacity: 1;
}

.prev_next_nav-hover .square1_next_image {
  right: -60px;
  opacity: 0;
}

.prev_next_nav-hover:hover .square1_next_image {
  right: 20px;
  opacity: 1;
}

.prev_next_nav-none .square1_next_image,
.prev_next_nav-none .square1_prev_image {
  display: none;
}

.dots_nav-outside .square1_dots {
  bottom: -34px;
}

.dots_nav-hover .square1_dots {
  bottom: -34px;
  opacity: 0;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dots_nav-hover:hover .square1_dots {
  bottom: 0;
  opacity: 1;
}

.dots_nav-none .square1_dots {
  display: none;
}

.square1_caption {
  position: absolute;
  bottom: -54px;
  left: 0;
  right: 0;
  font-size: 0.75em;
  text-align: center;
  display: none;
  color: white;
}

.caption-none .square1_caption {
  height: 0;
  width: 0;
  overflow: hidden;
}

.caption-inside .square1_caption {
  bottom: 0;
  padding: 0.7em;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.4);
}

.caption-hover .square1_caption {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.caption-hover:hover .square1_caption {
  opacity: 1;
}

.dots_nav-hover .square1_caption,
.dots_nav-inside .square1_caption,
.dots_nav-none .square1_caption {
  bottom: -25px;
}

.dots_nav-hover.caption-inside .square1_caption,
.dots_nav-inside.caption-inside .square1_caption,
.dots_nav-none.caption-inside .square1_caption {
  bottom: 0;
}

.dots_nav-hover.caption-inside:hover .square1_dots,
.dots_nav-inside.caption-inside .square1_dots {
  bottom: 30px;
  opacity: 1;
}

.theme-light .square1_next_image,
.theme-light .square1_prev_image {
  background-image: url("data:image/svg+xml;utf8,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='15.1px' height='20.3px' viewBox='0 0 15.1 20.3' enable-background='new 0 0 15.1 20.3' xml:space='preserve'%3E%3Cfilter height='200%25' id='blur' width='200%25' x='-30%25' y='-30%25'%3E%3CfeGaussianBlur in='offOut' result='blurOut' stdDeviation='2'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3Crect x='0.1' y='-0.1' fill='none' width='14.7' height='19.9'/%3E%3Cg%3E%3Cpath filter='url(%23blur)' fill='%23000' d='M3.2,9.9c0-0.3,0.1-0.5,0.3-0.8L9,3.7c0.2-0.2,0.4-0.3,0.7-0.3s0.5,0.1,0.8,0.3l0.6,0.6c0.2,0.2,0.3,0.5,0.3,0.8 s-0.1,0.5-0.3,0.7L7,9.9l4.1,4.1c0.2,0.2,0.3,0.4,0.3,0.7s-0.1,0.5-0.3,0.7L10.5,16c-0.2,0.2-0.5,0.3-0.8,0.3S9.2,16.2,8.9,16 l-5.4-5.3C3.3,10.4,3.2,10.2,3.2,9.9L3.2,9.9z'/%3E%3Cpath fill='%23fff' d='M3.2,9.9c0-0.3,0.1-0.5,0.3-0.8L9,3.7c0.2-0.2,0.4-0.3,0.7-0.3s0.5,0.1,0.8,0.3l0.6,0.6c0.2,0.2,0.3,0.5,0.3,0.8 s-0.1,0.5-0.3,0.7L7,9.9l4.1,4.1c0.2,0.2,0.3,0.4,0.3,0.7s-0.1,0.5-0.3,0.7L10.5,16c-0.2,0.2-0.5,0.3-0.8,0.3S9.2,16.2,8.9,16 l-5.4-5.3C3.3,10.4,3.2,10.2,3.2,9.9L3.2,9.9z'/%3E%3C/g%3E%3C/svg%3E");
}

.theme-light .square1_dots span:before {
  background: rgba(200, 200, 200, 0.4);
}

.theme-light .square1_dots span:before {
  background: rgba(200, 200, 200, 0.4);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.4);
}

.theme-light .square1_dots span.current:before {
  background: rgba(255, 255, 255, 0.7);
}

.theme-light .square1_dots span:hover:before {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.theme-light.caption-inside .square1_caption {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.8);
}

.theme-light .square1_spinner {
  border-top: 5px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 600px) {
  .square1_prev_image {
    left: 0;
  }
  .square1_next_image {
    right: 0;
  }
  .square1_spinner {
    width: 20px;
    height: 20px;
  }
  .square1_dots span:before {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0 7px 0 rgba(255, 255, 255, 0.4);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the navigation bar */
.ham-nav {
  height: 58px;
  background-color: rgba(58, 58, 58, 0.7);
}

.navbar-menu {
  background-color: rgba(58, 58, 58, 0.7);
  position: absolute;
  overflow: hidden;
  max-height: 0;
  width: 100%;
}

.navbar-menu ul {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}
.navbar-menu ul li {
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  height: 30px;
  line-height: 20px;
  letter-spacing: 0;
  padding: 0 0 0 18px;
  margin-left: auto;
  margin-right: auto;
}
.navbar-menu ul li:hover {
  background-color: #009DDC;
}
.navbar-menu ul a {
  text-decoration: none;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2em;
  transition: color 0.3s;
}

.show-dropdown {
  max-height: 500px; /* Set to a value that will definitely contain the whole dropdown */
  transition: all 0.5s ease-out;
}

@media screen and (min-width: 48em) {
  .ham-nav {
    display: none;
  }
}
@media screen and (max-width: 48em) {
  header {
    display: none;
  }
  .ham-logo {
    display: block;
    margin-left: 15px;
    float: left;
    margin-top: 9px;
  }
  .hamburger {
    position: relative;
    padding: 0;
    float: left;
    transition: opacity 0.3s;
    top: auto;
    display: block;
    float: right;
    margin-right: 15px;
    margin-top: 9px;
  }
  .h1 h1 {
    font-size: 3em;
    left: 35%;
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger .line {
    width: 32px;
    height: 3px;
    margin: 8px 0;
    transition: all 0.3s ease-in-out;
  }
  .hamburger .line:nth-child(1) {
    background-color: white;
    width: 32px;
    margin-right: 8px;
  }
  .hamburger .line:nth-child(2) {
    background-color: white;
    width: 32px;
  }
  .hamburger .line:nth-child(3) {
    background-color: white;
    width: 32px;
    margin-right: 8px;
  }
  .hamburger.isactive .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.isactive .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  .hamburger.isactive .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
}
footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  background-color: #009DDC;
}

.footer-wrapper {
  display: flex;
  width: 100%;
}

.footer-holder {
  background-repeat: no-repeat;
  background-image: url("../../images/wave-blue-light.png");
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  width: 80%;
  margin-left: -10px;
  margin-right: -10px;
  max-width: 1200px;
  align-items: center;
}
.row .footer-logo {
  display: block;
  width: 213px;
  height: auto;
  background-size: auto 100%;
}
.row .footer-logo .vulcan-logo-ft {
  width: 213px;
  height: auto;
}
.row .footer-links {
  display: flex;
  margin-left: 6em;
}
.row .footer-links .footer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.row .footer-links .footer-list li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: color 0.3s;
}
.row .footer-links .footer-list li a:hover {
  color: #005476;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
  .row .footer-links {
    margin-left: 0;
    margin-top: 20px;
    align-content: center;
  }
  .row .footer-links .footer-list {
    align-items: center;
  }
}
.order-block {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 15px;
}
.order-block .container {
  padding-top: 33px;
  padding-bottom: 77px;
  z-index: 100;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.order-block .title {
  color: #555;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  margin: 0 0 15px;
}
.order-block .text {
  display: flex;
  max-width: 820px;
  margin: 0 auto;
  padding: 0 32px 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.order-block .row {
  margin-left: auto;
  margin-right: auto;
}
.order-block .home-product {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.order-block .home-product img {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  overflow: hidden;
}
.order-block .home-product .detail {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  text-align: left;
  padding: 0 10px;
}
.order-block .home-product a {
  color: #555;
  text-decoration: none;
  font-weight: 1000;
  font-size: 1.2rem;
}
.order-block .col {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  border-top: 1px solid #ccc;
}
.order-block .img-holder {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  text-align: right;
}
.order-block h2 {
  text-transform: uppercase;
}
.order-block h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.texttitle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

div {
  display: block;
}

@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
.history-info {
  color: #fff;
  background: url("../../images/bg-section-about-us.jpg") no-repeat center center/cover;
  position: relative;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  z-index: 1;
  padding-bottom: 3rem;
}
.history-info .container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 150px !important;
}
.history-info .col, .history-info .text {
  position: relative;
  padding: 20px;
  z-index: 2;
}
.history-info .text {
  font-size: 14px;
  line-height: 17px;
  padding: 0 50px 60px;
}
.history-info .text p {
  margin: 0;
}
.history-info .btn {
  font-size: 14px;
  line-height: 17px;
  padding: 10px 20px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  text-decoration: none;
  cursor: pointer;
}

.col {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 17.5px;
}

.video-panel {
  background-color: #009ddc;
  position: relative;
  z-index: 1;
}
.video-panel .container {
  padding-top: 30px;
}
.video-panel .video {
  font-size: 14px;
  line-height: 17px;
  padding: 0 50px 60px;
}
.video-panel .text {
  font-size: 14px;
  line-height: 17px;
  padding: 0 50px 60px;
}
.video-panel .col {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.embed-container {
  position: relative;
  padding-bottom: 59.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  border: 15px solid #154a66;
  background-color: green;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.user-block {
  font-size: 0;
  line-height: 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  display: block;
}
.user-block h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 12px;
  color: #504f4f;
}
.user-block .location, .user-block .contact-us {
  position: relative;
  overflow: hidden;
}
.user-block .location {
  color: #252525;
}
.user-block .location .img-holder {
  position: relative;
  width: 100%;
}
.user-block .location .img-frame {
  width: 100%;
  position: relative;
}
.user-block .location img {
  max-width: 100%;
  height: auto;
}
.user-block .location .caption {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  letter-spacing: 0;
}
.user-block .location .caption-holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.user-block .location .location-box {
  padding: 15px;
  text-transform: uppercase;
}
.user-block .location .location-box h2 {
  padding-bottom: 20px;
}
.user-block .location .btn {
  background: none;
  color: #504f4f;
  border: 1px solid #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  padding: 11px 10px;
  min-width: 182px;
  font-weight: 700;
  border-radius: 0;
}

.contact-us {
  background: #154a66;
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-size: medium;
}
.contact-us .btn {
  background: none;
  color: #fff;
  border-color: #fff;
  border: 1px solid white;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  padding: 11px 10px 10px;
  font-weight: 700;
}
.contact-us h2 {
  color: #fff;
  padding-bottom: 20px;
}
.contact-us .contact-box {
  height: 398px;
  padding: 15px;
  white-space: nowrap;
  text-align: center;
  letter-spacing: -10px;
}
.contact-us .contact-box > * {
  white-space: normal;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
  letter-spacing: 0;
}
.contact-us .contact-box .holder {
  padding: 53px 30px 95px;
}

.info-wrapper {
  position: relative;
  display: grid;
  margin-bottom: 4.6875em;
  grid-template-areas: "a" "b" "c";
}
.info-wrapper .newsletter-signup {
  background-color: rgb(190, 220, 239);
  padding: 1.5625em 0.625em;
}
.info-wrapper .newsletter-signup form {
  display: grid;
  grid-template-columns: 1fr;
}
.info-wrapper .newsletter-signup form .form-container {
  display: flex;
  flex-direction: column;
}
.info-wrapper .newsletter-signup form .form-container label {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #154a66;
  font-size: 1.27em;
  padding-bottom: 0.3125em;
}
.info-wrapper .newsletter-signup form .form-container .input-container {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.info-wrapper .newsletter-signup form .form-container .input-container input {
  padding: 0.625em;
  width: 100%;
  border: none;
  padding-left: 1.25em;
  outline: none;
}
.info-wrapper .newsletter-signup form .form-container .input-container button {
  padding: 0.5em 0.9375em;
  background-color: #009DDC;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 0.625em;
}
.info-wrapper .newsletter-signup form .form-container .input-container button:hover {
  background-color: #555;
}
.info-wrapper .contact {
  background-color: rgb(21, 74, 102);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 374px;
}
.info-wrapper .contact h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.1em;
}
.info-wrapper .contact a {
  padding: 0.625em 0.875em;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid #555;
  color: #555;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin-top: 40px;
}
.info-wrapper .find-install {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../../images/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 334px;
  justify-content: center;
  color: #555;
  text-transform: uppercase;
  padding-top: 1.25em;
}
.info-wrapper .find-install h2 {
  margin: -50px;
  padding: 0;
  font-size: 2.1em;
  line-height: 1em;
  margin-bottom: 0.625em;
  font-family: "Roboto", sans-serif;
}
.info-wrapper .find-install a {
  padding: 0.625em 0.875em;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid #555;
  color: #555;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
@media (min-width: 48em) {
  .info-wrapper {
    margin-bottom: 1.25em;
    grid-template-areas: "a a" "b c";
    grid-template-columns: 1fr 1fr;
  }
  .info-wrapper .newsletter-signup {
    grid-area: a;
    padding: 1.25em;
  }
  .info-wrapper .newsletter-signup form {
    display: flex;
    align-items: center;
  }
  .info-wrapper .newsletter-signup form .form-container {
    display: block;
    margin: 0 auto;
  }
  .info-wrapper .newsletter-signup form .form-container label {
    padding-right: 0.625em;
    float: left;
    padding-top: 0.125em;
  }
  .info-wrapper .newsletter-signup form .form-container .input-container input {
    font-size: 1em;
    width: 18.75em;
    padding: 0.4375em 0.9375em;
  }
  .info-wrapper .newsletter-signup form .form-container .input-container button {
    padding: 0em 0.9375em;
  }
  .info-wrapper .contact {
    grid-area: b;
    margin-bottom: 2.5em;
  }
  .info-wrapper .contact a {
    background-color: #009DDC;
    color: white;
    border: none;
    margin-top: 0.3125em;
  }
  .info-wrapper .contact a:hover {
    background-color: #555;
    color: white;
  }
  .info-wrapper .find-install {
    grid-area: c;
    width: 100%;
    background-size: cover;
  }
  .info-wrapper .find-install a {
    background-color: #009DDC;
    color: white;
    border: none;
  }
}
@media (min-width: 64em) {
  .info-wrapper {
    margin-bottom: 0.625em;
  }
  .info-wrapper .contact h2 {
    font-size: 2.5em;
  }
  .info-wrapper .find-install h2 {
    font-size: 2.5em;
  }
}
@media (min-width: 90em) {
  .info-wrapper .newsletter-signup form .form-container label {
    padding-top: 0em;
    font-size: 1.7em;
  }
  .info-wrapper .newsletter-signup form .form-container .input-container input {
    width: 31.25em;
    margin-top: 0.125em;
  }
  .info-wrapper .contact {
    height: 500px;
  }
  .info-wrapper .contact h2 {
    font-size: 2.7em;
    padding-bottom: 0.9375em;
  }
  .info-wrapper .contact a {
    padding: 0.625em 2.5em;
  }
  .info-wrapper .find-install {
    height: 500px;
  }
  .info-wrapper .find-install h2 {
    font-size: 2.7em;
    padding-bottom: 1.25em;
  }
}

.wave-blue {
  position: relative; /* or absolute */
  z-index: 3;
  margin-top: -140px;
  overflow: hidden;
  margin-bottom: -6px;
}
.wave-blue img {
  width: 100%;
  height: 180px;
}

@media screen and (max-width: 48em) {
  .wave-blue img {
    height: 115px;
    width: 170%;
  }
}
/*# sourceMappingURL=styles.css.map */
