@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

// Footer
footer {
    background-color: $body-bg-color;
    display: flex;
    flex-direction: row;
    background-color: $text-color-blue;
    
}
.footer-wrapper{
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
}
.footer-holder {
   
        background-repeat: no-repeat;
        background-image: url("../../images/wave-blue-light.png");
        width: 100%;
    
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 5px;
   

}

.row{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 80%;
    margin-left: -10px;
    margin-right:-10px;
    max-width: 1200px;
    align-items: center;
    .footer-logo {
        display: block;
    
        width: 213px;
        height: auto;
        background-size: auto 100%;
         .vulcan-logo-ft{
            width: 213px;
            height: auto;
         }
    
       }
    .footer-links{

        display: flex;
        margin-left: 6em;
        .footer-list{
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            font-family: $nav-font;
            font-size: 14px;
            font-weight: 400;
            text-wrap:nowrap;
            align-items: center;
            justify-content: center;
            li{
                a{
                    
                    text-decoration: none;
                    color: $text-color-light;
                    font-size: 1.2em;
                    transition: color 0.3s;
                    &:hover {
                        color: $text-color-dark-blue;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 768px){
    .row{
        flex-direction: column;
        align-items: center;
        width: 100%;
        .footer-links{
            margin-left: 0;
            margin-top: 20px;
            align-content: center;
            .footer-list{
                align-items: center;
                width: 100%;
            }
        }
    }
    
}