@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.order-block{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 15px;
    margin:auto;
    padding: auto;
    

    .container{
        padding-top: 33px;
        padding-bottom: 77px;
        z-index: 100;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
            
        }
    .title{
        color: #555;
        font-family: $nav-font;
        line-height: 28px;
        margin: 0 0 15px;
       
        
        }

    .text{
        display: flex;
        max-width: 820px;
        margin: 0 auto;
        padding: 0 32px 14px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        }
    

    
    .row {
        margin-left: auto;
        margin-right: auto;
    }

    .home-product{
        position: relative;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;

        img {
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            border: 0;
            overflow: hidden;
        }

        .detail{
            display: inline-block;
            vertical-align: middle;
            width: 30%;
            text-align: left;
            padding: 0 10px;
            
            }

            a{
                color: #555;
                text-decoration: none; // Remove underline
                font-weight: 1000;
                font-size: 1.2rem;
            }


        
            
        }
        
    

        


    


    .col{
        font-size: 18px; // this is hidding the link fyi
        line-height: 22px;
        font-weight: 700;
        margin: 0 0 15px;
        text-transform: uppercase;
        border-top: 1px solid #979797;
        padding-top: 15px;

        
       
        
    }

    .img-holder{
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        text-align: right;
    }

    h2{
        text-transform: uppercase;
        
        
    }

    h3 {
        display: block;
        font-size: 1.0em;

        font-weight: bold;

    }

    

}


.texttitle{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}





@media screen and (max-width:768px){
    .hidden-xs{
        display: none !important;
    }

    
    

}



// Assuming this is within your existing media query for larger screens
@media (min-width: 768px) {

    

    

    .row {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: auto;
        justify-content: space-evenly;
        

        .home-product {
            flex: 1; // Causes each .home-product to flexibly fill the available space
            max-width: calc(33.333% - 20px); // Adjust this value based on desired gutter space

            // If you have specific padding/margins for .home-product, adjust them here

            .img-holder{
                display: flex;
                justify-self: space-evenly;
                width: 100%;
                
              
            }

            .col{

                border-top: 0px solid #ffffff00;


            }
            .detail{
                width: 100%;
                text-align: center;
                padding: 0;
            }

            h3 a{
                color: #009ddc;
            }

            .view{
                color: #616161;;
                font-size: 16px;
                line-height: 18px;
                text-decoration: underline;
            }

            
        }
    }


    // Your existing styles for larger screens
    .order-block h2 {
        color: #154a66;
    }

    

    
}


